extends ../layout

block content
  .page-header: h1 #{title}
  ul
    li: a(href='/api/meetua/events', target='_blank') events
    li
      form(action='/api/meetua/notify/participant-on-join', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='text', name='eventId', placeholder='event id')
        input(type='submit', value='Notify participant on join')
    li
      form(action='/api/meetua/notify/participant-on-edit', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='text', name='eventId', placeholder='event id')
        input(type='submit', value='Notify participant on event edit')
    li
      form(action='/api/meetua/notify/author-on-create', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='text', name='eventId', placeholder='event id')
        input(type='submit', value='Notify author on event create')
    li
      form(action='/api/meetua/notify/user-forgot-password', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='submit', value='Notify user forgot password')
    li
      form(action='/api/meetua/notify/user-password-reset', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='submit', value='Notify user password reset')
    li
      form(action='/api/meetua/notify/coming-soon', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='text', name='eventId', placeholder='event id')
        input(type='submit', value='Notify users coming soon')
    li
      form(action='/api/meetua/notify/on-cancel', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='text', name='eventId', placeholder='CANCELED event id')
        input(type='submit', value='Notify users on cancel')
