extends layout

include mixins

block content
    .page-header
        h3 Создать событие

    form.form-horizontal(role='form', method='POST', ng-controller='CreateEventCtrl', ng-submit='submit()', name='eventForm', novalidate)
        input(type='hidden', name='_csrf', value=_csrf, ng-model='csrf')
        .form-group(ng-class="{'has-error' : eventForm.name.$invalid && eventForm.name.$dirty}")
            label.col-sm-2.control-label(for='name') Название *
            .col-sm-8
                input.form-control(type='text', name='name', id='name', autofocus=true, ng-model='event.name', required)
        .form-group(ng-class="{'has-error' : eventForm.placeName.$invalid && eventForm.placeName.$dirty}")
            label.col-sm-2.control-label(for='placeName') Где *
            .col-sm-8
              input#placeName.form-control(type='text', name='placeName', ng-autocomplete='ng-autocomplete',
                ng-model='event.place.name', options='placeOptions', details='event.place.details', required)
        .form-group(ng-if='event.place.details')
          label.col-sm-2.control-label
          .col-sm-8
            google-map(center='placeMap.center', zoom='placeMap.zoom')
              marker(coords='placeMap.center', options='placeMap.marker.options', events="placeMap.marker.events")
        .form-group
            label.col-sm-2.control-label(for='startDate')
              i.fa.fa-calendar
              | Начало в *

            .col-sm-4(ng-class="{'has-error' : eventForm.startDate.$invalid && eventForm.startDate.$dirty}")
              input#startDate.form-control(ng-model='event.startDate', type='text', name='startDate', bs-datepicker,
                required, min-date='today')
            .col-sm-2: label.checkbox.pull-right(for='startTime')
                i.fa.fa-clock-o
                | Время
            .col-sm-2
              input#startTime.form-control(type='text', name='startTime', ng-model='event.startTime', bs-timepicker)
            .col-sm-2
        .form-group
            label(class='col-sm-2 control-label', for='endDate', ng-disabled="disableMe")
              i.fa.fa-calendar
              | Окончание в

            .col-sm-4
              input#endDate.form-control(ng-model='event.endDate', type='text', name='endDate', bs-datepicker
                ng-disabled="eventForm.startDate.$invalid || eventForm.startDate.$pristine", min-date="{{event.startDate}}")
            .col-sm-2
              label.checkbox.pull-right(for='endTime',
                ng-disabled="eventForm.startDate.$invalid || eventForm.startDate.$pristine")
                i.fa.fa-clock-o
                | Время
            .col-sm-2
              input#endTime.form-control(type='text', name='endTime', ng-model='event.endTime', bs-timepicker
                ng-disabled="eventForm.startDate.$invalid || eventForm.startDate.$pristine")
            .col-sm-2
        .form-group(ng-class="{'has-error' : eventForm.description.$invalid && eventForm.description.$dirty}")
            label(class='col-sm-2 control-label', for='description') Описание *
            .col-sm-8
                textarea#description.form-control(name='description', ng-model='event.description', required)
        .form-group
          label.col-sm-2.control-label(style='margin-top:70px') Тип события
          .col-sm-8: div.act_bar
              +actIcon('bike', 'Велосипед')
              +actIcon('running', 'Бег')
              +actIcon('workout', 'Workout')
              +actIcon('hiking', 'Туризм')
              +actIcon('photo', 'Фото')
              +actIcon('en', 'Языки')
              +actIcon('code', 'IT')
              div.clearfix
        .form-group
          label(class='col-sm-2 control-label', for='description') Лого/изображения
          .col-sm-8
            div(ng-class="{ 'drop-zone': uploader.isHTML5 }", ng-file-over='ng-file-over', ng-file-drop)
              | Перетяните изображения сюда
            input(ng-file-select='ng-file-select', type='file')

            .col-sm-5(ng-repeat="item in uploader.queue", ng-click="setAsLogo(item)", ng-show="uploader.isHTML5")
              .event_img(ng-class="{ 'pointer': !item.isLogo }")
                i.pointer.glyphicon.glyphicon-remove-circle.remove_img(ng-click='removeItem(item)')
                div(ng-thumb="{ file: item.file, height: 150}", ng-class="{ 'selected': item.isLogo}")
                h2.text_over_container(ng-if='item.isLogo')
                  span.text_over Лого



        .form-group
            .col-sm-offset-2.col-sm-8
                button.btn.btn-default(type='submit', ng-disabled='eventForm.$invalid')
                    i.fa.fa-mail-forward
                    | Создать группу
