extends ../layout

mixin eventField(label, data, href)
  div
    span.event_label #{label}:
    if href
      a(href=href) #{data}
    else
      span #{data}

block top_panel
  if (event.isPassed)
    #on_my_event_panel.alert-warning
      div.event_edit_panel
      | Событие уже прошло

  if (isCurrentUserAnAuthor && !event.isPassed)
    #on_my_event_panel.alert-warning
      div.event_edit_panel
        a.btn.btn-default.btn-sm(href="/event/#{event._id}/edit", role="button")
          i.fa.fa-edit
          | Редактировать
        if (!event.canceledOn)
          a.btn.btn-default.btn-sm(data-toggle="modal", data-target="#cancel_modal", role="button")
            i.fa.fa-times
            | Отменить событие

  if (event.canceledOn && !event.isPassed)
    #on_my_event_panel.alert-warning
      div.event_edit_panel
        | Автор отменил это событие


block content
  if (!event)
    h1 Событие не найдено
  else
    +jsVar("event", event)
    div#view_event_page(ng-controller='ViewEventCtrl')
      .col-md-10
        .row(style="margin-bottom: 20px")
          div.event_logo_box
            if (!event.logoUrl)
              div.no_image
            else
              dimensioned-img(src='event.logoUrl', width='120')

          div.pull-right
            h4 Поделиться ссылкой
            include ../partials/share-event

          div: h1 #{event.name}
          div.view_event
            +eventField("Когда", event.prettyStartDate)
            +eventField("Где", event.place.name)
            if event.author
              +eventField("Организатор", event.author.profile.name, event.author.url)
            div.event_desc
              !=event.description

        .row(style="margin-bottom: 20px")
          google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts",
            ng-if='event.place.latitude && event.place.longitude'
          )
            marker(coords="event.place")

      .col-md-2(style="padding-top: 30px; padding-bottom: 20px")
        #partBox.ng-cloak
          if (isCurrentUserAnAuthor)
            .event_label Вы &mdash; автор события

          if (!isCurrentUserAnAuthor)
            div(ng-show="event.isPassed")
              div Событие уже прошло
            div(ng-show="event.canceledOn")
              div Событие отменено
            div(ng-hide="event.isPassed")
              div(ng-show="isPart")
                #partStatus Вы &mdash; участник события

              button#partBtn.btn(ng-class="{'btn-default': isPart, 'btn-success': !isPart}",
                  ng-disabled="event.canceledOn",
                  data-toggle="modal", data-target=".guest-number-modal"
                  ng-click="isPart && participate(0)"
                )
                span(ng-hide="isPart")
                  i.fa.fa-check
                  | Принять участие
                span(ng-show="isPart")
                  i.fa.fa-times
                  | Отказаться от участия

          .modal.fade.guest-number-modal(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  h4.modal-title Возьмете с собой друзей?
                .modal-body
                  .btn-toolbar(role='toolbar')
                    .btn-group
                      div(bring-guests max-guests="4")

          #participants
            div(ng-hide="event.participantCount")
              span.event_label Еще нет участников
            div(ng-show="event.participantCount")
              span.event_label
                | Участники
                span(ng-show="event.participantCount > 0") &nbsp;({{event.participantCount}})
              ul.media-list
                li.media(ng-repeat="participant in event.participants")
                  img(class="media-object pull-left avatar-medium" ng-src="{{participant.user.profile.picture}}")
                  .media-body
                    a(ng-href="{{participant.user.url}}") {{participant.user.profile.name}}
                      span(class="badge pull-right" ng-show="participant.guests > 0") +{{participant.guests}}

      #cancel_modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Отмена события
            .modal-body
              p Вы уверены, что хотите отменить событие?
              p Все участники будут уведомлены об отмене.
            .modal-footer
              a.button.btn.btn-primary(href="/event/#{event._id}/cancel", type='button') Да, отменить событие
              button.btn.btn-default(type='button', data-dismiss='modal') Не отменять

      if(justCreated && isCurrentUserAnAuthor)
        .modal.share-created-event(open-modal modal-name='share-created-event' tabindex='-1', role='dialog', aria-hidden='true')
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
                h4.modal-title Поделиться ссылкой в:
              .modal-body
                include ../partials/share-event
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть

      include ../partials/notifications-modal

    #comments
      include ../partials/disqus