extends ../layout

mixin eventField(label, data)
  div
    span.event_label #{label}:
    span #{data}

block top_panel
  if (event.isPassed)
    #on_my_event_panel.alert-warning
      div.event_edit_panel
      | Событие уже прошло

  if (isCurrentUserAnAuthor && !event.isPassed)
    #on_my_event_panel.alert-warning
      div.event_edit_panel
        a.btn.btn-default.btn-sm(href="/event/#{event._id}/edit", role="button")
          i.fa.fa-edit
          | Редактировать
        a.btn.btn-default.btn-sm(data-toggle="modal", data-target="#cancel_modal", role="button")
          i.fa.fa-times
          | Отменить

block content
  if (!event)
    h1 Событие не найдено
  else
    +jsVar("event", event)
    div#view_event_page(ng-controller='ViewEventCtrl')
      .row(style="margin-bottom: 10px")
        .col-md-1
          div.event_logo_box(ng-cloak)
            div(ng-show="!event.logoUrl")
              div.no_image
            div(ng-show="event.logoUrl")
              dimensioned-img(src='event.logoUrl', width='120')

          // TODO: Show activity as text or icon?
          //.act_bar
            //div(class="#{event.activity}")

        .col-md-11
          div
            .pull-right
              if (!isCurrentUserAnAuthor)
                #partBox.ng-cloak
                  div(ng-show="event.isPassed")
                    div Событие уже прошло
                  div(ng-show="!event.isPassed")
                    div(ng-show="isPart")
                      #partStatus Я участник события

                    div(ng-show="event.participantCount")
                      span.event_label Всего участников:
                      span {{event.participantCount}}
                    div(ng-show="!event.participantCount")
                      span.event_label Еще нет участников

                  p
                  button.btn.btn-default(data-toggle="modal", data-target="#notifs_modal") DEBUG: Notifs
                  p

                    button#partBtn.btn(ng-click="participate()",
                      ng-class="{'btn-default': isPart, 'btn-success': !isPart}"
                    )
                      span(ng-show="!isPart")
                        i.fa.fa-check
                        | Принять участие
                      span(ng-show="isPart")
                        i.fa.fa-times
                        | Отказаться от участия?

              include ../partials/share-event

            h1 #{event.name}
          div.view_event
            +eventField("Когда", event.prettyStartDate)
            +eventField("Где", event.place.name)
            if event.author
              +eventField("Организатор", event.author.profile.name)
            div.event_desc #{event.description}

      google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts",
        ng-if='event.place.latitude && event.place.longitude')
        marker(coords="event.place")

      #notifs_modal.modal.fade(tabindex='-1', role='dialog', ng-controller="NotificationsCtrl")
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Настройки уведомлений
            .modal-body
              | Вы хотите получать уведомления о событиях, в которых Вы принимаете участие?
              p
              form(name='notifsForm', method='POST', action='/account/notifications')
                input(type='hidden', name='_csrf', value=_csrf, ng-model='csrf')
                label
                  input(type="radio", role="button", ng-model="receive", value="true")
                  span &nbsp;Да
                label(style="margin-left: 20px;")
                  input(type="radio", role="button", ng-model="receive", value="false")
                  span &nbsp;Нет
                div.form-group(ng-show="receive == 'true'", ng-class="{'has-error': notifsForm.email.$invalid}")
                  div Получать уведомления на эл. почту:
                  input.form-control(type='email', id='email', name='email', ng-model='email', required,
                    style="width: 30em;")
                  p(ng-show="notifsForm.email.$invalid", class="help-block") Введите правильную эл. почту.
                  .clearfix
            .modal-footer
              button.btn.btn-primary(type='button', ng-click='saveNotifs()') Сохранить настройки

      #cancel_modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Отмена события
            .modal-body
              p Вы уверены, что хотите отменить событие?
              p Все участники будут уведомлены об отмене.
            .modal-footer
              a.button.btn.btn-primary(href="/event/#{event._id}/cancel", type='button') Да, отменить событие
              button.btn.btn-default(type='button', data-dismiss='modal') Не отменять

      #comments
        include ../partials/disqus
