extends ../layout

mixin eventField(label, data)
  div
    span.event_label #{label}:
    span #{data}

block content
  if (!event)
    h1 Событие не найдено
  else
    +jsVar("event", event)
    div(ng-controller='ViewEventCtrl')
      .row
        .col-md-1
          .act_bar
            div(class="#{event.activity}")

        .col-md-11
          div
            .pull-right
              #partBox
                div(ng-show="isPart")
                  #partStatus Я участник события
                button#partBtn.btn(ng-click="participate()",
                  ng-class="{'btn-default': isPart, 'btn-success': !isPart}") {{partBtnName}}
            h1 #{event.name}
          div.view_event
            +eventField("Когда", event.prettyStartDate)
            +eventField("Где", event.place.name)
            if event.author
              +eventField("Организатор", event.author.profile.name)
            div.event_desc #{event.description}

      google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts")
        marker(coords="event.place")

      #comments
        include ../partials/disqus
