extends ../layout

mixin eventField(label, data)
  div
    span.event_label #{label}:
    span #{data}

block top_panel
  if (isCurrentUserAnAuthor)
    #on_my_event_panel.alert-warning
      a.btn.btn-default.btn-sm(href="/event/#{event._id}/edit", role="button") Редактировать

block content
  if (!event)
    h1 Событие не найдено
  else
    +jsVar("event", event)
    div#view_event_page(ng-controller='ViewEventCtrl')
      .row(style="margin-bottom: 10px")
        .col-md-1
          div.event_logo_box
            div(ng-show="!event.logoUrl")
              div.no_image
            div(ng-show="event.logoUrl")
              img.event_logo(ng-src="{{event.logoUrl}}")

          // TODO: Show activity as text or icon?
          //.act_bar
            //div(class="#{event.activity}")

        .col-md-11
          div
            .pull-right
              #partBox
                div(ng-show="event.isPassed")
                  div Событие уже прошло
                div(ng-show="!event.isPassed")
                  div(ng-show="isPart")
                    #partStatus Я участник события

                  div(ng-show="event.participantCount")
                    span.event_label Всего участников:
                    span {{event.participantCount}}
                  div(ng-show="!event.participantCount")
                    span.event_label Еще нет участников

                  button#partBtn.btn(ng-click="participate()",
                    ng-class="{'btn-default': isPart, 'btn-success': !isPart}") {{partBtnName}}

            h1 #{event.name}
          div.view_event
            +eventField("Когда", event.prettyStartDate)
            +eventField("Где", event.place.name)
            if event.author
              +eventField("Организатор", event.author.profile.name)
            div.event_desc #{event.description}

      google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts")
        marker(coords="event.place")

      #comments
        include ../partials/disqus
