extends ../layout

mixin eventField(label, data)
  div
    span.event_label #{label}:
    span #{data}

block top_panel
  if (event.isPassed)
    #on_my_event_panel.alert-warning
      div.event_edit_panel
      | Событие уже прошло

  if (isCurrentUserAnAuthor && !event.isPassed)
    #on_my_event_panel.alert-warning
      div.event_edit_panel
        a.btn.btn-default.btn-sm(href="/event/#{event._id}/edit", role="button")
          i.fa.fa-edit
          | Редактировать
        a.btn.btn-default.btn-sm(data-toggle="modal", data-target="#cancel_modal", role="button")
          i.fa.fa-times
          | Отменить

block content
  if (!event)
    h1 Событие не найдено
  else
    +jsVar("event", event)
    div#view_event_page(ng-controller='ViewEventCtrl')
      .row(style="margin-bottom: 10px")
        .col-md-1
          div.event_logo_box
            div(ng-show="!event.logoUrl")
              div.no_image
            div(ng-show="event.logoUrl")
              img.event_logo(ng-src="{{event.logoUrl}}")

          // TODO: Show activity as text or icon?
          //.act_bar
            //div(class="#{event.activity}")

        .col-md-11
          div
            .pull-right
              if (!isCurrentUserAnAuthor)
                #partBox.ng-cloak
                  div(ng-show="event.isPassed")
                    div Событие уже прошло
                  div(ng-show="!event.isPassed")
                    div(ng-show="isPart")
                      #partStatus Я участник события

                    div(ng-show="event.participantCount")
                      span.event_label Всего участников:
                      span {{event.participantCount}}
                    div(ng-show="!event.participantCount")
                      span.event_label Еще нет участников

                    button#partBtn.btn(ng-click="participate()",
                      ng-class="{'btn-default': isPart, 'btn-success': !isPart}"
                    )
                      span(ng-show="!isPart")
                        i.fa.fa-check
                        | Принять участие
                      span(ng-show="isPart")
                        i.fa.fa-times
                        | Отказаться от участия?

              include ../partials/share-event

            h1 #{event.name}
          div.view_event
            +eventField("Когда", event.prettyStartDate)
            +eventField("Где", event.place.name)
            if event.author
              +eventField("Организатор", event.author.profile.name)
            div.event_desc #{event.description}

      google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts",
        ng-if='event.place.latitude && event.place.longitude')
        marker(coords="event.place")

      #cancel_modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Отмена события
            .modal-body
              p Вы уверены, что хотите отменить событие?
              p Все участники будут уведомлены об отмене.
            .modal-footer
              a.button.btn.btn-primary(href="/event/#{event._id}/cancel", type='button') Да, отменить событие
              button.btn.btn-default(type='button', data-dismiss='modal') Не отменять

      #comments
        include ../partials/disqus
